@import url("./estilos/header.css");
@import url("./estilos/banner.css");
@import url("./estilos/carrossel.css");
@import url("./estilos/topico.css");
@import url("./estilos/contato.css");
@import url("./estilos/rodape.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --preto: #000000;
} 

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

